* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar {
  font-family: 'PT Sans', sans-serif;
  position: fixed;
  min-width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: #303840;
  text-align: center;
}

.sidebar .sidebar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50%;
}

.sidebar .sidebar__items a {
  padding: 25px 0;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.sidebar .sidebar__items a:hover {
  cursor: pointer;
  color: #FE0065;
}

header {
  font-family: 'PT Sans', sans-serif;
  background-image: url("../Img/pexels-alex-conchillos-3745234.jpg");
  background-repeat: no-repeat;
  width: calc(100vw - $offset);
  height: 100vh;
}

header .header__main-content {
  margin-left: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header__main-content .header__paragraph {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f1f1f1;
  text-align: center;
}

header .header__main-content .header__paragraph h2 {
  font-size: 3.5rem;
}

header .header__main-content .header__paragraph h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

header .header__main-content .header__photo {
  position: relative;
  margin-top: 10%;
  height: 250px;
  width: 250px;
  border: 12px solid #303840;
  border-radius: 50%;
  padding: 20px;
}

header .header__main-content .header__photo::before {
  display: block;
  content: ' ';
  background-image: url("../Img/My-Photo2.png");
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

header .header__main-content .header__button-wrapper {
  margin-top: 10%;
}

header .header__main-content .header__button-wrapper .header__button {
  font-size: 1.1em;
  display: inline-block;
  padding: .7em 1.2em;
  border: 0.1em solid #f1f1f1;
  margin: 0 .3em .3em 0;
  border-radius: .12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #f1f1f1;
  text-align: center;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  background-color: rgba(241, 241, 241, 0);
  outline: none;
  cursor: pointer;
}

header .header__main-content .header__button-wrapper .header__button:hover {
  color: #303840;
  background-color: #f1f1f1;
}

header .header__icons {
  position: absolute;
  top: 20px;
  right: 40px;
}

header .header__icons svg {
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  fill: #f1f1f1;
}

header .header__icons svg:hover {
  fill: #FE0065;
}

.about {
  font-family: 'Montserrat', sans-serif;
  color: #303840;
  margin-left: 290px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about__paragraphs {
  padding: 20px;
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.8;
  text-align: center;
}

.about .about__paragraphs h2 {
  font-size: 1.8rem;
  margin-bottom: 3%;
}

.about .about__paragraphs .about__paragraphs__main span {
  font-weight: 500;
}

.about .about__skills {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #364F6B;
  margin-left: 40px;
}

.about .about__skills .about__skills__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  min-width: 350px;
  margin: 0 10px;
  border: 1px dashed rgba(48, 56, 64, 0.2);
  border-radius: 15px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.about .about__skills .about__skills__column:hover {
  background-color: #303840;
  color: #f1f1f1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about .about__skills .about__skills__column:hover svg {
  fill: #f1f1f1;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.about .about__skills svg {
  fill: #303840;
  height: 50px;
  width: 50px;
  margin-top: 40px;
}

.about .about__skills p {
  font-weight: 500;
  color: #FE0065;
  margin-top: 30px;
}

.about .about__skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__skills li {
  font-weight: 200;
  padding: 8px;
}
/*# sourceMappingURL=main.css.map */