$primary-color: #f1f1f1;
$secondary-color: #303840;
$text-color: #364F6B;
$accent-color: #FE0065;
$offset: 270px;

*
{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

@mixin centerElement 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar
{
    position: fixed;
    min-width: $offset;
    height: 100vh;
    padding: 20px;
    background-color: $secondary-color;
    text-align: center;

    .sidebar__items
    {
        display: flex;
        flex-direction: column;
        margin-top: 50%;

        a
        {
            padding: 25px 0;
            text-decoration: none;
            color: $primary-color;
            font-size: 2rem;
            text-transform: uppercase;
            transition: .3s ease-in;
            &:hover
            {
                cursor: pointer;
                color: $accent-color;
            }
        }
    }
}

header
{
    margin-left: $offset;
    background-image: url('../Img/BannerPhoto.png');
    background-repeat: no-repeat;
    width: calc(100vw - $offset);
    height: 100vh;

    .header__content
    {
        @include centerElement();
        display: flex;
        justify-content: space-around;

        .header__paragraph
        {
            flex-direction: column;
            color: $primary-color;
            h2
            {
                font-size: 3.5rem;
                margin-top: 10%;
            }
            h4
            {
                font-size: 1.5rem;
                font-weight: lighter;
            }
        }
        .header__photo
        {
            img
            {
                margin-top: 50%;
                height: 250px;
                width: 250px;
                border: 15px solid $secondary-color;
                border-radius: 50%;
            }
        }
    }
    .header__icons
    {
        position: absolute;
        top: 20px;
        right: 40px;

        svg
        {
            padding: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: .3s ease-in;
            &:hover
            {
                fill: $accent-color;
            }
        }
    }
    .header__button
    {
        position: absolute;
        bottom: 50px;
        right: 50px;
        button
        {
            padding: 20px;
            border: none;
            color: $primary-color;
            font-size: 1.2rem;
            background: rgba($color: #1c1c1c, $alpha: .5);
            display: flex;
            outline: none;
            cursor: pointer;
            i
            {
                font-size: 1.2rem; 
                margin-top: 5px; 
                padding: 0 0 0 8px;
            }
        }
    }
}