* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e6e6e6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23e6e6e6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.sidebar {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  min-width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: #303840;
  text-align: center;
}

.sidebar .sidebar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70%;
}

.sidebar .sidebar__items a {
  padding: 25px 0;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.sidebar .sidebar__items a:hover {
  cursor: pointer;
  color: #FE0065;
  border-left: 3px solid #FE0065;
  border-right: 3px solid #FE0065;
  font-size: 2.7rem;
}

header {
  font-family: 'PT Sans', sans-serif;
  background-image: url("../Img/pexels-alex-conchillos-3745234.jpg");
  background-repeat: no-repeat;
  width: calc(100vw - $offset);
  height: 100vh;
}

header .header__main-content {
  margin-left: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header__main-content .header__paragraph {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f1f1f1;
  text-align: center;
}

header .header__main-content .header__paragraph h2 {
  font-size: 3.5rem;
}

header .header__main-content .header__paragraph h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

header .header__main-content .header__photo {
  position: relative;
  margin-top: 10%;
  height: 250px;
  width: 250px;
  border: 12px solid #303840;
  border-radius: 50%;
  padding: 15px;
}

header .header__main-content .header__photo::before {
  display: block;
  content: ' ';
  background-image: url("../Img/My-Photo2.png");
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

header .header__main-content .header__button-wrapper {
  margin-top: 10%;
}

header .header__main-content .header__button-wrapper .header__button {
  font-size: 1.1em;
  display: inline-block;
  padding: .7em 1.2em;
  border: 0.1em solid #f1f1f1;
  margin: 0 .3em .3em 0;
  border-radius: .12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #f1f1f1;
  text-align: center;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  background-color: rgba(241, 241, 241, 0);
  outline: none;
  cursor: pointer;
}

header .header__main-content .header__button-wrapper .header__button:hover {
  color: #303840;
  background-color: #f1f1f1;
}

header .header__icons {
  position: absolute;
  top: 20px;
  right: 40px;
}

header .header__icons svg {
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  fill: #f1f1f1;
}

header .header__icons svg:hover {
  fill: #FE0065;
}

.about, .work {
  font-family: 'Montserrat', sans-serif;
  color: #303840;
  margin-left: 290px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about__paragraphs, .work .about__paragraphs {
  width: calc(100vw - $offset);
  height: 100vh;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
}

.about .about__paragraphs h2, .work .about__paragraphs h2 {
  font-size: 1.8rem;
  margin-bottom: 3%;
}

.about .about__paragraphs .about__paragraphs__main, .work .about__paragraphs .about__paragraphs__main {
  margin: 15% auto;
  text-align: justify;
  width: 50%;
}

.about .about__paragraphs .about__paragraphs__main span, .work .about__paragraphs .about__paragraphs__main span {
  font-weight: 700;
}

.about .about__skills, .work .about__skills {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #364F6B;
  margin-left: 40px;
}

.about .about__skills .about__skills__column, .work .about__skills .about__skills__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  min-width: 350px;
  margin: 0 10px;
  border: 1px dashed rgba(48, 56, 64, 0.2);
  border-radius: 15px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.about .about__skills .about__skills__column:hover, .work .about__skills .about__skills__column:hover {
  background-color: #303840;
  color: #f1f1f1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about .about__skills .about__skills__column:hover svg, .work .about__skills .about__skills__column:hover svg {
  fill: #f1f1f1;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.about .about__skills svg, .work .about__skills svg {
  fill: #303840;
  height: 50px;
  width: 50px;
  margin-top: 40px;
}

.about .about__skills p, .work .about__skills p {
  font-weight: 500;
  color: #FE0065;
  margin-top: 30px;
}

.about .about__skills ul, .work .about__skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__skills li, .work .about__skills li {
  font-weight: 200;
  padding: 8px;
}

.work h2 {
  font-size: 1.8rem;
  margin-bottom: 3%;
}

.work .work__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work .work__cards .work__card {
  width: 420px;
  height: 280px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  margin: 25px 15px;
}

.work .work__cards .work__card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.work .work__cards .work__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(48, 56, 64, 0.9);
  z-index: 2;
  -webkit-transition: .5s all;
  transition: .5s all;
  opacity: 0;
}

.work .work__cards .work__card:hover::before {
  opacity: 1;
}

.work .work__cards .work__card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.work .work__cards .work__card .work__card__info {
  position: relative;
  z-index: 3;
  color: #f1f1f1;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.work .work__cards .work__card .work__card__info h2 {
  margin-left: 5%;
}

.work .work__cards .work__card .work__card__info p {
  margin: 0 5% 30% 5%;
}

.work .work__cards .work__card .work__card__info .card-btn {
  padding: 15px 20px;
  position: relative;
  left: 15px;
  text-decoration: none;
  color: #303840;
  background: rgba(241, 241, 241, 0.9);
  border: 2px solid rgba(48, 56, 64, 0.8);
  border-radius: 5px;
}

.work .work__cards .work__card:hover .work__card__info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
/*# sourceMappingURL=main.css.map */