$primary-color: #f1f1f1;
$secondary-color: #303840;
$text-color: #364F6B;
$accent-color: #FE0065;
$offset: 290px;

*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

html
{
    scroll-behavior: smooth;
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e6e6e6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23e6e6e6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin centerElement 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin headingElement 
{
    font-size: 1.8rem;
    margin-bottom: 3%;  
}

.sidebar
{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    min-width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: $secondary-color;
    text-align: center;

    .sidebar__items
    {
        display: flex;
        flex-direction: column;
        margin-top: 70%;
        a
        {
            padding: 25px 0;
            text-decoration: none;
            color: $primary-color;
            font-size: 2rem;
            text-transform: uppercase;
            transition: .2s ease-out;
            &:hover
            {
                cursor: pointer;
                color: $accent-color;
                border-left: 3px solid $accent-color;
                border-right: 3px solid $accent-color;
                font-size: 2.7rem;
            }
        }
    }
}

header
{
    font-family: 'PT Sans', sans-serif;
    background-image: url('../Img/pexels-alex-conchillos-3745234.jpg');
    background-repeat: no-repeat;
    width: calc(100vw - $offset);
    height: 100vh;

    .header__main-content
    {
        margin-left: $offset;
        @include centerElement();
        flex-direction: column;

        .header__paragraph
        {
            flex-direction: column;
            color: $primary-color;
            text-align: center;
            h2
            {
                font-size: 3.5rem;
            }
            h4
            {
                font-size: 1.5rem;
                font-weight: lighter;
            }
        }
        .header__photo
        {
            position: relative;
            margin-top: 10%;
            height: 250px;
            width: 250px;
            border: 12px solid $secondary-color;
            border-radius: 50%;
            padding: 15px;
            &::before
            {
                display: block;
                content: ' ';
                background-image: url('../Img/My-Photo2.png');
                height: 250px;
                width: 250px;
                border-radius: 50%;
            }
        }
        .header__button-wrapper
        {
            margin-top: 10%;
            .header__button
            {
                font-size: 1.1em;
                display: inline-block;
                padding: .7em 1.2em;
                border: 0.1em solid $primary-color;
                margin: 0 .3em .3em 0;
                border-radius: .12em;
                box-sizing: border-box;
                text-decoration: none;
                font-weight: bold;
                color: $primary-color;
                text-align: center;
                transition: .3s ease-in;
                background-color: rgba($color: $primary-color, $alpha: .0);
                outline: none;
                cursor: pointer;
                &:hover
                {
                    color: $secondary-color;
                    background-color: $primary-color;
                }
            }
        }
    }
    .header__icons
    {
        position: absolute;
        top: 20px;
        right: 40px;

        svg
        {
            padding: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: .3s ease-in;
            fill: $primary-color;
            &:hover
            {
                fill: $accent-color;
            }
        }
    }
}

.about
{
    font-family: 'Montserrat', sans-serif;
    color: $secondary-color;
    margin-left: $offset;
    padding: 25px;
    @include centerElement();
    flex-direction: column;

    .about__paragraphs
    {
        width: calc(100vw - $offset);
        height: 100vh;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.8;
        text-align: center;
        h2
        {
            @include headingElement();
        }
        .about__paragraphs__main
        {
            margin: 15% auto;
            text-align: justify;
            width: 50%;
            span
            {
                font-weight: 700;
            }
        }
    }
    .about__skills
    {
        margin: 3% 0;
        display: flex;
        justify-content: center;
        color: $text-color;
        margin-left: 40px;

        .about__skills__column
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            min-width: 350px;
            margin: 0 10px ;
            border: 1px dashed rgba($color: $secondary-color, $alpha: .2);
            border-radius: 15px;
            transition: .3s ease-in;
            &:hover
            {
                background-color: $secondary-color;
                color: $primary-color;
                svg{fill: $primary-color; transition: .3s ease-in;}
                transform: scale(1.05);
            }
        }
        svg
        {
            fill: $secondary-color;
            height: 50px;
            width: 50px;
            margin-top: 40px;
        }
        p
        {
            font-weight: 500;
            color: $accent-color;
            margin-top: 30px;
        }
        ul
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        li
        {
            font-weight: 200;
            padding: 8px;
        }

    }
}

.work
{
    @extend .about;
    width: calc(100vw - $offset);
    height: 100vh;

    h2
    {
        @include headingElement();
    }

    .work__cards
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;

        .work__card
        {
            width: 490px;
            height: 280px;
            position: relative;
            display: flex;
            align-items: flex-end;
            box-shadow: 0px 7px 10px rgba(0, 0, 0, .5);
            transition: .4s ease-in-out;
            margin: 25px 15px;
            &:hover
            {
                transform: translateY(20px);
            }
            &::before
            {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba($color: $secondary-color, $alpha: .9);
                z-index: 2;
                transition: .5s all;
                opacity: 0;
            }
            &:hover::before
            {
                opacity: 1;
            }
            img
            {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
            .work__card__info
            {
                position: relative;
                z-index: 3;
                color: $primary-color;
                opacity: 0;
                transform: translateY(30px);
                transition: .8s all;
                h2
                {
                    margin-left: 5%;
                }
                p
                {
                    margin: 0 5% 30% 5%;
                }
                .card-btn
                {
                   cursor: pointer;
                   padding: 15px 20px;
                   position: relative;
                   left: 15px;
                   text-decoration: none;
                   color: $secondary-color;
                   background: rgba($color: $primary-color, $alpha: .9);
                   border: 2px solid rgba($color: $secondary-color, $alpha: .8);
                   border-radius: 5px;
                   transition: .1s ease;
                   &:hover
                   {
                       font-weight: 700;
                   }
                }
            }
            &:hover .work__card__info
            {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

.contact
{
    @extend .about;

    h2
    {
        @include headingElement();
    }

    form
    {
        width: calc(100vw - $offset);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;

        label
        {
            margin-top: 15px;
        }

        input
        {
            width: 600px;
            padding: 5px;
        }

        textarea
        {
            padding: 5px;
            width: 600px;
            height: 400px;
            resize: none;
        }

        .submit-btt
        {
            margin-top: 15px;
            width: 250px;
            height: 60px;
        }
    }
}