$primary-color: #f1f1f1;
$secondary-color: #303840;
$text-color: #364F6B;
$accent-color: #FE0065;
$offset: 290px;

*
{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

@mixin centerElement 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar
{
    position: fixed;
    min-width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: $secondary-color;
    text-align: center;

    .sidebar__items
    {
        display: flex;
        flex-direction: column;
        margin-top: 50%;
        a
        {
            padding: 25px 0;
            text-decoration: none;
            color: $primary-color;
            font-size: 2rem;
            text-transform: uppercase;
            transition: .3s ease-in;
            &:hover
            {
                cursor: pointer;
                color: $accent-color;
            }
        }
    }
}

header
{
    background-image: url('../Img/pexels-alex-conchillos-3745234.jpg');
    background-repeat: no-repeat;
    width: calc(100vw - $offset);
    height: 100vh;

    .header__main-content
    {
        margin-left: $offset;
        @include centerElement();
        flex-direction: column;

        .header__paragraph
        {
            flex-direction: column;
            color: $primary-color;
            text-align: center;
            h2
            {
                font-size: 3.5rem;
            }
            h4
            {
                font-size: 1.5rem;
                font-weight: lighter;
            }
        }
        .header__photo
        {
            position: relative;
            margin-top: 10%;
            height: 250px;
            width: 250px;
            border: 12px solid $secondary-color;
            border-radius: 50%;
            padding: 20px;
            &::before
            {
                display: block;
                content: ' ';
                background-image: url('../Img/My-Photo2.png');
                height: 250px;
                width: 250px;
                border-radius: 50%;
            }
        }
        .header__button-wrapper
        {
            margin-top: 10%;
            .header__button
            {
                font-size: 1.1em;
                display: inline-block;
                padding: .7em 1.2em;
                border: 0.1em solid $primary-color;
                margin: 0 .3em .3em 0;
                border-radius: .12em;
                box-sizing: border-box;
                text-decoration: none;
                font-weight: bold;
                color: $primary-color;
                text-align: center;
                transition: all .2s;
                background-color: rgba($color: $primary-color, $alpha: .0);
                outline: none;
                cursor: pointer;
                &:hover
                {
                    color: $secondary-color;
                    background-color: $primary-color;
                }
            }
        }
    }
    .header__icons
    {
        position: absolute;
        top: 20px;
        right: 40px;

        svg
        {
            padding: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: .3s ease-in;
            fill: $primary-color;
            &:hover
            {
                fill: $accent-color;
            }
        }
    }
}

.about
{
    margin-left: $offset;
    padding: 25px;
    @include centerElement();
    justify-content: space-around;

    .about__heading
    {
        display: flex;
        flex-direction: column;
    }
}